body {

    width: 100vw;
    height: 100vh;
    & nav {
        display: flex;
        
        justify-content: center;
        align-items: center;
        & .navbar-brand {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            & h1 {
                font-size: 36px;
                color: #D04F4F;
                font-weight: 700
                ;
                text-decoration: none;
                &:link {
                    text-decoration: none;
                }
                &:visited {
                    text-decoration: none;
                }
            }
        }
    }
 
}